body{
    font-family:arial, garamond, georgia;
    font-size:20px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:green; 
    color: white;
} 

#container {
    text-align: justify;
     margin-top:0px;
}

#container .center img{
    width:200px;  
} 
#boxes{
    width:30%;
    height:1200px;
    float: left;
    background-color: black;
   
}
#boxesright{
    width:30%;
    float: left;
}
#linksright{ 
    width:40%;
    height:1200px;
    float: right; 
    background-color:white; 
    font-size: 15px; 
    
} 

#linksright img{
    width: 90%; 
    float: right;

}
header li{
    
    color:white; 
    font-size:40px; 
    

    
} 
ul{
    background-color:#605E5E; 
    height:60px;
    margin-bottom:0px;    
}


#abt {
    text-align: justify;
     margin-top:0px;
}

#abt .center img{
    width:200px;  
    
} 



span {
    color: white;
}     

 @media(max-width: 770px){
     header h1, nav, .hat{
         color:orange;
         float:none;
         text-align:center;
         width:100%;
     }
     }
     
a:hover { 
    background-color: green;
    
} 

.currentLink {
   color: #640200;
   background-color: #000000;
}

#poop{
    color:Grey;
    background-color:Green;
}
