body{
    font-family:arial, garamond, georgia;
    font-size:20px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:green; 
    color: white;
} 

#container {
    text-align: justify;
     margin-top:10px;
}

#container .center img{
    width:200px;  
    
} 
#boxes{
    width:30%;
    height:1200px;
    float: left;
    background-color: black;
   
}
#boxesright{
    width:30%;
    float: left;
}
#linksright{ 
    width:40%;
    height:1200px;
    float: right; 
    background-color:white; 
    font-size: 15px; 
    
}
header li{
    
    color:white; 
    font-size:30px;
     min-height: 40px;
    max-height: 80px;
} 
ul{
    background-color:#605E5E;
        
}


#abt {
    text-align: justify;
     margin-top:10px;
}

#abt .center img{
    width:200px;  
    
} 



span {
    color: white;
}     

 @media(mas-width: 770px){
     header h1, nav,.hat{
         color:purple;
         float:none;
         text-align:center;
         width:100%;
     }
     }
     
a:hover { 
    background-color: green;
    
} 

.currentLink {
   color: #640200;
   background-color: #000000;
}
